---
import "../styles/global.css";
import AboutModal from "../components/AboutModal.tsx";
import BackgroundSystem from "../components/BackgroundSystem.tsx";
import { defaultLang, ui } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  lang?: keyof typeof ui;
}

const {
  lang = defaultLang,
  image = "/images/profile-img/luciapuccioprofile.jpeg",
} = Astro.props;

const t = useTranslations(lang);

const title = Astro.props.title || t("seo.title.default");
const description = Astro.props.description || t("seo.description.default");

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(image, Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Preload Critical Assets -->
    <link
      rel="preload"
      href="/videos/optimized-videos/HeroWaves.mp4"
      as="video"
      type="video/mp4"
    />

    <!-- SEO & Metatags -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />
  </head>
  <body>
    <BackgroundSystem client:load />
    <slot />

    <AboutModal client:load lang={lang} />

    <script src="../scripts/smoothScroll.ts"></script>
  </body>
</html>
